.full.height {
  display: flex;
}

#sidebar {
  width: 200px;
  height: 100vh;
  position: relative;
  flex: 0 0 auto;
}

.article {
  display: flex;
  flex: 1 1 auto;
}

#sidebar .channel .unread {
  float: right;
}

.main.container {
  padding: 2em 2em;
  width: 100%;
  max-width: 960px;
}

.message-history {
  margin: 2em 2em;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.message_username {
  display: inline;
  margin: 0em 0em;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 200px;
  right: 1rem;
  padding: 0em 0em 2em 0em;
}

.input-box {
  margin: 0em 1em;
}

.ui.menu > .item.user-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 200px;
}

.item.user-menu > .connection_status {
  float: right;
}

#userMenu {
  left: 0px;
  top: auto !important;
}
